com.release3.tf.jaxb/variables/VariablesMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.release3.com/VariableMap"
	elementFormDefault="qualified">

    <element name="variables" >
    	 <complexType >
        <sequence>
            <element name="variable" maxOccurs="unbounded" minOccurs="0">
 <complexType>
 	<attribute name="binding" type="string"></attribute>
 	<attribute name="value" type="string"></attribute>
 	<attribute name="name" type="string"></attribute>
 	<attribute name="datatype" type="string"></attribute>
 </complexType></element>
        </sequence>
    </complexType>
    </element>


    
   

   
</schema>